@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Customizing the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  padding: 10px;
}

/* Customizing the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #414141d5;
  border-radius: 2px;
}
